{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="bi bi-search"  style="font-size: 2rem; color: cornflowerblue;" ></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
        <div class="col-sm-4">
            <i class="bi bi-palette-fill" style="font-size: 2rem; color: cornflowerblue; mb-3"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
        <div class="col-sm-4">
            <i class="bi bi-code-slash" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h3>Web Development</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
        <div class="col-sm-4">
            <i class="bi bi-pencil-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
        <div class="col-sm-4">
            <i class="bi bi-dice-1" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h3>Android</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
        <div class="col-sm-4">
            <i class="bi bi-dice-6-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
            <h3>iOS</h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque cupiditate!</p>
        </div>
    </div>

</div>
{% endblock content %}